WP_API_URL=
WP_REVALIDATE_SECRET=
WP_WRITE_TOKEN=
NEXT_PUBLIC_SITE_URL=https://new.zensaving.com
NEXT_PUBLIC_SITE_NAME=Zen Saving
NEXT_PUBLIC_BRAND_COLOR=#17634b
USE_MOCK_DATA=true
ALLOW_INDEXING=false
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_BING_UET_ID=
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET=

